html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: flex;
}
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	
	background: -webkit-linear-gradient(to bottom right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
	background: linear-gradient(to bottom right, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);

}





h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}
ol, ul {
	list-style: square;
	margin: 0 0 0.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
code {
	background-color: #000;
	font-family: Menlo, 'Panic Sans', monospace;
	font-size: 0.875em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: bold;
}
p {
	margin: 0 0 0.2em;
	max-width: 634px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Ultra', serif;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1em;
}

a, a:link, a:visited {
	color: #ccc;
	text-decoration: none;
}

a:hover, a:active {
	background: #333;
	color: #fff;
}

img {
	max-width: 100%;


}

hr {
	border: none;
	background: url(../images/bg_hr.png) center center no-repeat;
	height: 10px;
}

#logo {
	padding-bottom: 0;
}

.logo {
	color: #11bad3;
	font-family: 'Ultra', serif;
	font-weight: normal;
	font-size: 1.2em;
}
.logo b {
	font-weight: bold;
}

.banner-wrap {
	text-align: center;
	background: #ffc;
	border-bottom: 1px solid #ccc;
	padding: 0 10px 1em;
	margin-bottom: 1em;
}

.intro {
	font-size: 1.75em;
	font-family: 'Ultra', serif;
	line-height: 1.1em;
	max-width: none;
}

.grid {
	padding: 0 10px;
}

.row {
	margin-bottom: 1em;
}

.feature h2 {
	font-weight: bold;
	text-align: center;
}

.feature p {
	font-size: 1.125em;
}

.mod-download {
	background: url(../images/bg_download.png) 0 0.75em no-repeat;
	background-size: 100%;
}

.mod-download h2 {
	color: #11bad3;
	font-weight: bold;
}

.mod-download .logo {
	color: #fff;
	font-size: 1em;
}

a.bttn {
	border-right: 1px solid #0087a0;
	border-bottom: 1px solid #0087a0;
	background: #000000;
	color: #fff;
	display: inline-block;
	font-family: 'Julius Sans One', cursive;
	font-size: 1em;
	font-weight: bold;
	margin: 0.2em 0;
	padding: 0.5em 0.75em;
}

.mod-download .bttn:hover {
	background: #000000;
	cursor: pointer;
}

.example-grids {
	margin-bottom: 3em;
}

.example-grids .row { margin-bottom: 0; }

.example-grids .row p {

	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0.5em;
	margin: 0 0 1.4em;
	border: 0px solid #fff;
	box-shadow: 0px 0px 30px #333333;
	-moz-box-shadow: 0px 0px 20px #333333;
	-webkit-box-shadow: 0px 0px 20px #333333;

}


.cianotipo1{background:#F7DB4F;}
.gravuras1{background: #EC2049;}
.livros1{background: #F26B38;}
.modelos1{background: #A7226E;}
.design1{background: #2F9599;}
.preto1{background: #0d0d0d;}
}

.footer p {
	color: #666;
	text-align: center;
	max-width: none;
}
